<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste aller gespeicherten Farben ( {{anzahlFarbenPromise | async}} )</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <!-- <ion-list-header></ion-list-header> -->

    <ion-item *ngFor="let farbObjekt of farbArrayPromise">
      <ion-label>
        <h1>{{farbObjekt.farbname}}</h1>
        <h2 id="farbcode">{{farbObjekt.farbcode}}</h2>
        <div [style.background]="farbObjekt.farbcode">&nbsp;</div>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
