<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Farbwahl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        Intensität für die drei Grundfarben einstellen
      </ion-list-header>

      <!-- Rot-Anteil -->
      <ion-item>
        <ion-range color="danger" min="0" max="255" step="1" value="240" pin="true" snaps="true">
          <ion-icon  color="danger" slot="start" size="small" name="sunny">0%</ion-icon>
          <ion-icon  color="danger" slot="end"   size="large" name="sunny">100%</ion-icon>
        </ion-range>
      </ion-item>

      <!-- Grün-Anteil -->
      <ion-item>
        <ion-range color="success" min="0" max="255" step="1" value="0" pin="true" snaps="true">
          <ion-icon  color="success" slot="start" size="small" name="sunny">0%</ion-icon>
          <ion-icon  color="success" slot="end"   size="large" name="sunny">100%</ion-icon>
        </ion-range>
      </ion-item>

      <!-- Blau-Anteil -->
      <ion-item>
        <ion-range color="tertiary" min="0" max="255" step="1" value="0" pin="true" snaps="true">
          <ion-icon  color="tertiary" slot="start" size="small" name="sunny">0%</ion-icon>
          <ion-icon  color="tertiary" slot="end"   size="large" name="sunny">100%</ion-icon>
        </ion-range>
      </ion-item>

    </ion-list>
</ion-content>
