<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hauptseite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>

      <ion-list-header>
        Intensität für die drei Grundfarben einstellen:
      </ion-list-header>

      <!-- Rot-Anteil -->
      <ion-item>
        <ion-label position="fixed">Rot</ion-label>
        <ion-range color="danger" min="0" max="255" step="1" pin="true" snaps="true"
                   [(ngModel)]="rotWert" (ionChange)="onFarbanteilChanged()" >
          <ion-label slot="start" class="schrift-groesser">  0%</ion-label>
          <ion-label slot="end"   class="schrift-groesser">100%</ion-label>
        </ion-range>
      </ion-item>

      <!-- Grün-Anteil -->
      <ion-item>
        <ion-label position="fixed">Grün</ion-label>
        <ion-range color="success" min="0" max="255" step="1" pin="true" snaps="true"
                   [(ngModel)]="gruenWert" (ionChange)="onFarbanteilChanged()" >
          <ion-label slot="start" class="schrift-groesser">  0%</ion-label>
          <ion-label slot="end"   class="schrift-groesser">100%</ion-label>
        </ion-range>
      </ion-item>

      <!-- Blau-Anteil -->
      <ion-item>
        <ion-label position="fixed">Blau</ion-label>
        <ion-range color="tertiary" min="0" max="255" step="1" pin="true" snaps="true"
                   [(ngModel)]="blauWert" (ionChange)="onFarbanteilChanged()" >
          <ion-label slot="start" class="schrift-groesser">  0%</ion-label>
          <ion-label slot="end"   class="schrift-groesser">100%</ion-label>
        </ion-range>
      </ion-item>

    </ion-list>

    &nbsp;

    <ion-toolbar id="farb-anzeige-toolbar" [style.--background]="farbeHexCode">

      <ion-title id="hex-code-title" >{{farbeHexCode}}</ion-title>
      <ion-button slot="end" color="primary" (click)="onFarbeSpeichernButton()" >
        <ion-icon name="save"></ion-icon>
      </ion-button>

    </ion-toolbar>

</ion-content>
